In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
dataset=dataset.drop("User ID",axis=1)

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [5]:
#howmany class in Target_Value. Balanced or imbalanced data
dataset['Purchased'].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [6]:
independent=dataset[['Age','EstimatedSalary','Gender_Male']]
dependent=dataset[['Purchased']]

In [7]:
independent.shape

(400, 3)

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent, dependent, test_size=1/3,random_state=0)

In [9]:
from sklearn.preprocessing import StandardScaler
sd=StandardScaler()
X_train=sd.fit_transform(X_train)
X_test=sd.transform(X_test)

In [10]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import GridSearchCV
param_grid = {'alpha':[1],'force_alpha':[True], 'fit_prior':[True], 'class_prior':[None],'binarize':[0.0]} 
grid = GridSearchCV(BernoulliNB(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
grid.fit(X_train,Y_train)
y_pred=grid.predict(X_test)
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,y_pred)
from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,y_pred)
print(cm)
print(clf_report)

Fitting 5 folds for each of 1 candidates, totalling 5 fits
[[78  7]
 [25 24]]
              precision    recall  f1-score   support

           0       0.76      0.92      0.83        85
           1       0.77      0.49      0.60        49

    accuracy                           0.76       134
   macro avg       0.77      0.70      0.71       134
weighted avg       0.76      0.76      0.75       134

C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
from sklearn.naive_bayes import ComplementNB
from sklearn.model_selection import GridSearchCV
param_grid ={'alpha': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0],'force_alpha':[True,False], 'norm':[True,False], 'fit_prior' : [True, False]}
grid = GridSearchCV(ComplementNB(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1') 
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,y_pred)
from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,y_pred)
print(cm)
print(clf_report)

[[78  7]
 [25 24]]
              precision    recall  f1-score   support

           0       0.76      0.92      0.83        85
           1       0.77      0.49      0.60        49

    accuracy                           0.76       134
   macro avg       0.77      0.70      0.71       134
weighted avg       0.76      0.76      0.75       134

In [12]:
from sklearn.naive_bayes import GaussianNB
from sklearn. model_selection import GridSearchCV
param_grid = {'priors':[None], 'var_smoothing':[0]} 
grid = GridSearchCV(GaussianNB(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,y_pred)
from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,y_pred)
print(cm)
print(clf_report)

[[78  7]
 [25 24]]
              precision    recall  f1-score   support

           0       0.76      0.92      0.83        85
           1       0.77      0.49      0.60        49

    accuracy                           0.76       134
   macro avg       0.77      0.70      0.71       134
weighted avg       0.76      0.76      0.75       134